In [1]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv('fuel_ferc1.csv')
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.03
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.95
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.99
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.11
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.68

In [36]:
df.fuel_type_code_pudl.value_counts()

gas        11486
coal        8547
oil         8064
nuclear      818
waste        441
other        167
Name: fuel_type_code_pudl, dtype: int64

In [39]:
df_gas = df.groupby('fuel_type_code_pudl').get_group('gas')
df_gas.fuel_cost_per_unit_burned.mean()

13.659396569737071

In [43]:
df_waste = df.groupby('fuel_type_code_pudl').get_group('waste')
df_waste.fuel_cost_per_unit_burned.mean()

19.518122448979593

In [42]:
df_nuclear = df.groupby('fuel_type_code_pudl').get_group('nuclear')
df_nuclear.fuel_cost_per_unit_burned.mean()

4955.157002444988

In [40]:
df_oil = df.groupby('fuel_type_code_pudl').get_group('oil')
df_oil.fuel_cost_per_unit_burned.mean()

168.87708568948415

In [41]:
df_coal = df.groupby('fuel_type_code_pudl').get_group('coal')
df_coal.fuel_cost_per_unit_burned.mean()

67.42182999883

In [7]:
df.shape

(29523, 11)

In [44]:
df.report_year.value_counts()

2000    1373
2001    1356
2005    1269
2007    1264
2010    1261
2006    1243
2012    1243
2011    1240
1994    1235
2008    1228
2009    1222
2003    1211
2002    1205
1995    1201
2013    1199
2004    1192
2014    1171
1998    1107
1997    1094
2015    1093
1996    1088
1999    1050
2016    1034
2017     993
2018     951
Name: report_year, dtype: int64

In [46]:
df_1997 = df.groupby('report_year').get_group(1997)
df_1997.fuel_cost_per_unit_delivered.mean()

11140.197239488118

In [47]:
df_2008 = df.groupby('report_year').get_group(2008)
df_2008.fuel_cost_per_unit_delivered.mean()

58.58819706840389

In [48]:
df_1996 = df.groupby('report_year').get_group(1996)
df_1996.fuel_cost_per_unit_delivered.mean()

9196.705947610291

In [49]:
df_2009 = df.groupby('report_year').get_group(2009)
df_2009.fuel_cost_per_unit_delivered.mean()

652.6941628477906

In [50]:
df_2004 = df.groupby('report_year').get_group(2004)
df_2004.fuel_cost_per_unit_delivered.mean()

139.52427516778525

In [45]:
df.dtypes

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

In [27]:
#What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?
df.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [14]:
#Which feature has missing values and what is the total number of missing value 
#and percentage of the missing rows as a factor of the total number of rows in three decimal places? 
#(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

print(df.isnull().sum())
print((180/29522)*100)

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64
0.609694136774718

In [43]:
df['utility_id_ferc1'].value_counts().sort_index()

1       97
2      104
4       24
6      353
7      739
      ...
449      4
452     31
454     77
513      2
514      3
Name: utility_id_ferc1, Length: 185, dtype: int64

In [9]:
#What is the skewness and kurtosis for the fuel quantity burned in two decimal places?
df.skew(axis=0)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [10]:
#What is the skewness and kurtosis for the fuel quantity burned in two decimal places?
df.kurt(axis=0)

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64